<app-book [book]="newBook" (saveEmitter)="saveBook()"></app-book>


<div class="container mt-3">
    <h3>Livros Cadastrados</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
            </tr>
        </tbody>
    </table>
</div>