<app-book [book]="book" (saveEmitter)="saveBook()"></app-book>


<div class="container mt-3">
    <h3>Livros Cadastrados</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Preço</th>
                <th class="text-end" scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
                <td class="text-end">
                    <button class="btn btn-success me-2"    (click)="updateBook(book)">Alterar</button>
                    <button class="btn btn-danger"          (click)="removeBook(book)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>